.col-md-6.mainDiv {
    background-color: #fff;
    padding: 20px;
}

.main-container {
    height: 100vh;
}

@media only screen and (max-width: 576px) {
    .col-md-6.mainDiv {
        margin: 20px;
    }
}